### DEVELOPER IGNORES ###
_src
_scratch

### PROJECT IGNORES ###

# zip'd Deliveries
*.zip

### PROCESSOR IGNORES ###

# SASS
*.sass-cache
*.scssc

# GRUNT & NODE
node_modules

### SOFTWARE IGNORES ###

# SublimeText 2
*.sublime-workspace
*.sublime-project

# TextMate
*.tmproj
*.tmproject
tmtags

# Dreamweaver
_notes
dwsync.xml

# Eclipse
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
.target
.texlipse

### OS IGNORES ###

# Windows image file caches
Thumbs.db
ehthumbs.db

# Windows Folder config file
Desktop.ini

# Windows Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# OSX System Files
.DS_Store
.AppleDouble
.LSOverride

# OSX Icon must ends with two \r.
Icon

# OSX Thumbnails
._*

# OSX Files that might appear on external disk
.Spotlight-V100
.Trashes