<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">

	<title>Appendix Arcana</title>
	<meta name="description" content="A Pathfinder RPG Spellbook Builder">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0">
	<link rel="stylesheet" href="css/appendix-arcana.css">
	<script type="text/javascript" src="js/libs/jquery/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="js/libs/underscore/underscore-min.js"></script>
	<script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.16.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</head>

<body>
	<!-- Interface -->
	<header id="header">
		<h1>Appendix Arcana</h1>

		<p>A GUI for Mike Chopswil's Paizo Spells Database, designed and developed by Domenic Bonanni.</p>

	</header>

	<div id="main">
		<div class="title">
			<h1>Spellbook</h1>
		</div>

	  <div class="content">

		<!-- begin login template -->
		<div class="login">
			<form class="login-form">
				<h2>Log In</h2>
				<div class="error" style="display:none"></div>
				<input type="text" class="username" id="login-username" placeholder="Username" />
				<input type="password" class="password" id="login-password" placeholder="Password" />
				<button>Log In</button>
			</form>

			<form class="signup-form">
				<h2>Sign Up</h2>
				<div class="error" style="display:none"></div>
				<input type="text" class="username" id="signup-username" placeholder="Username" />
				<input type="password" class="password" id="signup-password" placeholder="Create a Password" />
				<button>Sign Up</button>
			</form>
		</div>
		<!-- end login template -->

		<!-- begin manage spell list template -->
		<div id="user-console">
			<div id="btn-my-spells">
				<p>My Spells</p>
			</div>

			<div id="user-info"></div>
				<p>Signed in as <%= Parse.User.current().get("username") %> (<a href="#" class="log-out">Log out</a>)</p>
				
				<div id="spell-stats">
				<!-- begin stats template -->
					<div id="stats">
						<span id="spell-count"><strong><%= remaining %></strong> <%= remaining == 1 ? 'item' : 'items' %> left</span>
						<!--<ul id="filters">
						  <li>
							<a href="javascript:void(0)" id="all" class="selected">All</a>
						  </li>
						  <li>
							<a href="javascript:void(0)" id="active">Active</a>
						  </li>
						  <li>
							<a href="javascript:void(0)" id="completed">Completed</a>
						  </li>
						</ul>-->
						<button id="clear-completed">Clear completed (<%= done %>)</button>
					</div>
				<!-- end stats template -->
				</div>
			</div>
		</div>
		<!-- end manage spell list template -->

		<div id="spell-search">

		<div id="spell-search-by-name">
		  <input placeholder="Search for a spell by name" type="text" />
		  <div id="btn-search"><p>Search</p></div>

		  <div id="btn-refine-search"><p>Refine</p></div>

		</div>

		<div id="main">
		  <div id="spell-list">
			<!-- begin spell template -->
			<div class="spell">
				<h2 class="spell-name"><%= name %></h2><!--
			 --><div class="spell-known">
					<input class="toggle" type="checkbox" <%= known ? 'checked="checked"' : '' %>
				</div><!--
			 --><h3 class="spell-classes"><% spell_level %></h3><!--
			 --><h4 class="spell-school"><% school %></h4><!--
			 --><h4 class="spell-descriptor"><% descriptor %></h4><!--
			 --><h4 class="spell-range"><% range %></h4><!--
			 --><h4 class="spell-casting-time"><% casting_time %></h4><!--
			 --><h4 class="spell-duration"><% duration %></h4><!--
			 --><h4 class="spell-effect"><% effect %></h4><!--
			 --><p class="spell-description"><%= description %></p><!--
			 --><p class="spell-source"><% source %></p><!--
			 --><h4 class="spell-components"><% components %></h4><!--
			 --><button class="spell-destroy">Remove</button>
			</div>
			<!-- end spell template -->

		  </div>
		</div>

	  </div>
		<!-- end manage spell list template -->
	  </div>
	</div>

	<footer id="footer">
		<p>Parse Reference Documentation:</p>

		<ul>
			<li><a href="https://www.parse.com/docs/js_guide" target="_blank">Parse JavaScript Guide</a>
			</li>
			<li><a href="https://www.parse.com/docs/js" target="_blank">Parse JavaScript API Documentation</a>
			</li>
		</ul>

		<p>This app would not be possible without the following resources:</p>

		<ul>
			<li>Paizo Spells Database. Copyright 2011 Mike Chopswil, <a href="http://www.d20pfsrd.com" target="_blank">d20pfsrd.com</a></li>
			<li>Convert CSV to JSON. Copyright 2013 Data Design Group, Inc.</li>
			<li>Parse JavaScript SDK. Copyright 2014 Parse, Inc.</li>
			<li>NodeJS. Copyright 2014 Joyent, Inc, Node.js is a trademark of Joyent, Inc.</li>
			<li>GruntJS. Copyright 2014 Bocoup.</li>
			<li>Backbone.js. Copyright 2010-2013 Jeremy Ashkenas, DocumentCloud</li>
			<li>Underscore.js. Copyright 2009-2013 Jeremy Ashkenas, DocumentCloud and Investigative Reporters &amp; Editors</li>
			<li>jQuery.js. Copyright 2014 The jQuery Foundation</li>
			<li>Inuit.css. Copyright 2012 Harry Roberts</li>
		</ul>
	</footer>

	<!-- Templates -->
	
	<script type="text/template" id="login-template">
		<div class="login">
			<form class="login-form">
				<h2>Log In</h2>
				<div class="error" style="display:none"></div>
				<input type="text" id="login-username" placeholder="Username" />
				<input type="password" id="login-password" placeholder="Password" />
				<button>Log In</button>
			</form>

			<form class="signup-form">
				<h2>Sign Up</h2>
				<div class="error" style="display:none"></div>
				<input type="text" id="signup-username" placeholder="Username" />
				<input type="password" id="signup-password" placeholder="Create a Password" />
				<button>Sign Up</button>
			</form>
		</div>
	</script>

	<script type="text/template" id="spell-template">
		<div class="spell">
			<h2 class="spell-name"><%= name %></h2><!--
		 --><div class="spell-known">
				<input class="toggle" type="checkbox" <%= known ? 'checked="checked"' : '' %>
			</div><!--
		 --><h3 class="spell-classes"><% spell_level %></h3><!--
		 --><h4 class="spell-school"><% school %></h4><!--
		 --><h4 class="spell-descriptor"><% descriptor %></h4><!--
		 --><h4 class="spell-range"><% range %></h4><!--
		 --><h4 class="spell-casting-time"><% casting_time %></h4><!--
		 --><h4 class="spell-duration"><% duration %></h4><!--
		 --><h4 class="spell-effect"><% effect %></h4><!--
		 --><p class="spell-description"><%= description %></p><!--
		 --><p class="spell-source"><% source %></p><!--
		 --><h4 class="spell-components"><% components %></h4><!--
		 --><button class="spell-destroy">Remove</button>
		</div>
	</script>

	<script type="text/template" id="manage-spells-template">
	  <div id="user-console">
		<div id="btn-my-spells">
			<p>My Spells</p>
		</div>

		<div id="user-info"></div>
			<p>Signed in as <%= Parse.User.current().get("username") %> (<a href="#" class="log-out">Log out</a>)</p>
		</div>

		<div id="spell-stats"></div>
	  </div>

	  <div id="spell-search">

		<div id="spell-search-by-name">
		  <input placeholder="Search for a spell by name" type="text" />
		  <div id="btn-search"><p>Search</p></div>

		  <div id="btn-refine-search"><p>Refine</p></div>

		</div>

		<div id="main">
		  <ul id="spell-list">
			<img src='images/spinner.gif' class='spinner' />
		  </ul>
		</div>

	  </div>
	</script>

	<script type="text/template" id="stats-template">
	  <div id="stats">
		<span id="spell-count"><strong><%= remaining %></strong> <%= remaining == 1 ? 'item' : 'items' %> left</span>
		<ul id="filters">
		  <li>
			<a href="javascript:void(0)" id="all" class="selected">All</a>
		  </li>
		  <li>
			<a href="javascript:void(0)" id="active">Active</a>
		  </li>
		  <li>
			<a href="javascript:void(0)" id="completed">Completed</a>
		  </li>
		</ul>
		<button id="clear-completed">Clear completed (<%= done %>)</button>
	  </div>
	</script>

</body>

</html>
